<%@ master language="C#" autoeventwireup="true" inherits="Base_Blank, App_Web_hnooj0z5" %>

<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="pageHead" runat="server">
    <title></title>

    <asp:ContentPlaceHolder id="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ContentPlaceHolder id="Content" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
