<div data-role="page" id="pageMain" class="MainViewPage">
    <div data-role="header"></div>
    <div data-role="content" style="overflow: visible;">
        <div class="DisableUserSelectable LoadingLauncherView">
            <div class="ProgressBar">
                <div class="ModeIndeterminate"></div>
            </div>
            <div class="Title"><APP_NAME_HTML></div>
        </div>
    </div>
    <div data-role="footer"></div>

    <!--Popup view-->
    <div id="PopupPage" data-role="popup" class="PopupContainer">
    </div>
</div>