<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
  </configSections>
  <appSettings>

    <add key="ConnectionStrings" value="SERVER=localhost; database=BD_BurdenAMR; User ID=iusr_db; Password=P7vid*Wmn!" />
    
    <add key="FilePathBase" value="D:\BurdenAMR-files\Files\" />
    <add key="WebsitePathBase" value="D:\BurdenAMR\" />
    <add key="ArchiveLogsPath" value="D:\BurdenAMR-files\Files\Logs\" />

    <add key="SMTP" value="mx.ingeniuxondemand.com" />
    <add key="PortSMTP" value="" />  <!--(optional) The port for the SMTP client (default used if not specified; port 25)-->
    <add key="ForceCredentialSMTP" value="0" /> <!--(optional) Whether to enable custom credentials for SMTP client (related to username and password for SMTP settings)-->
    <add key="UsernameSMTP" value="" /> <!--(optional) The username to use for SMTP client credentials (if provided, requires ForceCredentialSMTP)-->
    <add key="PasswordSMTP" value="" /> <!--(optional) The password to use for SMTP client credentials (if provided, requires ForceCredentialSMTP)-->
    <add key="PostMasterEmail" value="BurdenAMR@bd.com" />
    <add key="AdminEmail" value="adam_zerda@bd.com" />    <!--Note: seperate multiple administrator e-mails with a semi-colon (;)-->    
    <add key="ContactUsEmail" value="adam_zerda@bd.com" />
    <add key="ITEmail" value="BDNICAdmin@bd.com" /> <!--Note: seperate multiple IT e-mails with a semi-colon (;)-->
    <add key="RegistrationEmail" value="BDNICAdmin@bd.com" /> <!--Note: seperate multiple registration approver e-mails with a semi-colon (;)-->
    
    <add key="PostMasterEmailDisplay" value="BD Burden of AMR" />
    <add key="AdminEmailDisplay" value="BD Burden of AMR - Administrator" />
    <add key="AppName" value="BD Burden of AMR" /> <!--"Body Max Index (BMI) Calculator", "Hospital Finance Tool", "PsA Calculator", "Evidence Side by Side", "Essentials", 
                                                                    "Ferahame Hospital Cost Calculator", "Hospital Analytics", "Burden of Osteoporosis", "Indivior Library",
                                                                    "Diabetes Market Access Portal", "ORKAMBI™ Budget Impact Model",
                                                                    "Teflaro DACC", "Dymaxium Web Model Demo" -->
    
    <add key="InternalProjectNo" value="1088" /> <!-- -1: Dymaxium BMI Demo, 865: Hospital Finance Tool, 893: PsA, 895: eSS - Diabetes Comparison Tool,
                                                     10: ess Suite, 887: Feraheme Cost Calculator, 891: GH Waste Calculator, 932: BD Hospital Analytics Application (932),
                                                     922: Burden of Osteoporosis, 948: Evidence Library, 947: Diabetes Market Access Portal, 968: ORKAMBI™ Budget Impact Model,
                                                     974: Teflaro DACC, 979: Dymaxium Web Model Demo, 984: Merck GVD, 1024: PAS eModel -->
    <add key="SkinName" value="1088" /> <!-- demo: Dymaxium BMI Demo, 865: Hospital Finance Tool, 893: PsA, 895: eSS - Diabetes Comparison Tool,
                                            10: ess Suite, 887: Feraheme Cost Calculator, 891: GH Waste Calculator, 932: BD Hospital Analytics Application (932),
                                            922: Burden of Osteoporosis, 948: Evidence Library, 947: Diabetes Market Access Portal, 968: ORKAMBI™ Budget Impact Model,
                                            974: Teflaro DACC, 979: Dymaxium Web Model Demo -->
    <add key="CookieSuffix" value="1088" /> <!-- demo: Dymaxium BMI Demo, 865: Hospital Finance Tool, 893: PsA, 895: eSS - Diabetes Comparison Tool,
                                                10: ess Suite, 887: Feraheme Cost Calculator, 891: GH Waste Calculator, 932: BD Hospital Analytics Application (932),
                                                922: Burden of Osteoporosis, 948: Evidence Library, 947: Diabetes Market Access Portal, 968: ORKAMBI™ Budget Impact Mode,
                                                974: Teflaro DACC, 979: Dymaxium Web Model Demo -->

    <add key="IsIntegratedLogin" value="0" /> <!--debug purposes to disable integrated login (overrides the site module settings for login process)-->
    <add key="IsIntegratedLoginSearchRecursive" value="0" />  <!--whether to search recursive members (i.e. nested groups) when validating a member is part of a group-->
    <add key="IntegratedLoginDomainName" value="DYMAXIUM" /> <!--the domain name to search for when using integrated login (Active Directory)-->
    <add key="IntegratedLoginGroupRoleMapping" value="-1000;SystemAdmin|1;Administrator|2;User" /> <!--the mapping of role to Active Directory group name (from highest access to lowest access for role listing)
                                                                                                        Format the following: ROLE_ID;AD_GROUP_NAME|ROLE_ID_2|AD_GROUP_NAME_2 ...
                                                                                                        e.g. -1000;System Administrators|1;Administrators|2;Domain Users
                                                                                                      -->
    
    <!--Address to the Identify Provider to authenticate the user and post assertion to the website for integrated login.-->
    <add key="IntegratedLoginIdentityProviderURL" value="" />

    <!--Address to the Dymaxium AD powered Identify Provider to authenticate the user and post assertion to the website for integrated login.-->
    <add key="IntegratedLoginDymaxiumIdentityProviderURL" value="" />
    
    <add key="SiteURL" value="https://BurdenAMR.bd.com/" />

    <add key="ExtensionExporterSiteURL" value="https://BurdenAMR.bd.com/" /> <!--URL to extension website to handle advanced exports.-->

    <add key="ForceSSL" value="1" /> <!--1 - force to SSL connection (production); 0 - do not redirect to SSL connection (development)-->
    <add key="CookiePath" value="/" /> <!--configures the cookie path-->
    <add key="TogglePortValidation" value="0" /> <!--Whether to validate port for the URI schema when constructing absolute URL (1 - enable and use default schema port (default), 
                                                                                                                                0 - disable and use SiteURL address config-->
	<add key="CompanyURL" value="https://www.bd.com" /> <!--Dymaxium company default URL (such as for header/footer company logo)-->
	
    <add key="DebugUserID" value="1" /> <!--1 - system admin, 3 - admin, 4 - user-->
    <add key="IsDebug" value="1" /> <!-- Possible values are: 0 - production mode (does not use development configurations); 1 - debug mode and confiure related values for development -->
    <add key="IsEmailErrors" value="0" /> <!--Whether to e-mail all uncaught exceptions to IT. Possible values are: 0 - do not e-mail exceptions, 1 - e-mail exceptions-->

    <add key="IsOnlineModelDebug" value="0" /> <!--Whether to map the physical path of the online model root directory for the file handler to be specific to development or production paths.-->
    
    <add key="ToggleManifestCache" value="0" /> <!--Whether to toggle a dynamic application cache that is updated per user based on application requirements or to disable
                                                    manifest cache and force no client side caching (retrieve latest files at all times).
                                                    Possible values are: 0 – disable manifest file and disable client side caching; 
                                                                         1 – enable manifest file and allow client side caching when applicable.
                                                  -->
  <add key="aspnet:MaxHttpCollectionKeys" value="10000"></add><!--neccesary when sending a request with too many keys, for example, when creating report-->
  <add key="MaxLengthJSON" value="999999999" /> <!--Note: when modifying this value must also update the "maxJsonLength" value found further below within "scripting" element of "system.web.extensions"-->
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/AuthServices/SignIn" />
    </authentication>
    
    <sessionState timeout="40" sessionIDManagerType="CSessionIDManager" />

    <httpRuntime maxRequestLength="15360" enableVersionHeader="false" />
    
    <httpModules>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Saml2AuthenticationModule" type="CSaml2AuthenticationModule" />
    </httpModules>
      
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->

    <customErrors mode="RemoteOnly" defaultRedirect="~/error/default.aspx" redirectMode="ResponseRedirect">
      <error statusCode="403" redirect="~/error/default.aspx" />
      <error statusCode="404" redirect="~/error/default.aspx" />
    </customErrors>
    
    <httpHandlers>
      <!--Custom HTTP handlers used by the application.-->
      <add verb="*" path="*.appcache" type="HttpFileHandler" />
      <add verb="*" path="*.generated" type="HttpFileHandler" />  <!--Note: the following file extension of "generated" is used for dynamic content.-->
      <add verb="*" path="*.css" type="HttpFileHandler" />
      <add verb="*" path="*.csv" type="HttpFileHandler" />
      <add verb="*" path="*.dat" type="HttpFileHandler" />
      <add verb="*" path="*.doc" type="HttpFileHandler" />
      <add verb="*" path="*.docx" type="HttpFileHandler" />
      <add verb="*" path="*.gif" type="HttpFileHandler" />
      <add verb="*" path="*.jpg" type="HttpFileHandler" />
      <add verb="*" path="*.js" type="HttpFileHandler" />
      <add verb="*" path="*.htm" type="HttpFileHandler" />
      <add verb="*" path="*.html" type="HttpFileHandler" />
      <add verb="*" path="*.pdf" type="HttpFileHandler" />
      <add verb="*" path="*.png" type="HttpFileHandler" />
      <add verb="*" path="*.ppt" type="HttpFileHandler" />
      <add verb="*" path="*.pptx" type="HttpFileHandler" />
      <add verb="*" path="*.ttf" type="HttpFileHandler" />
      <add verb="*" path="*.txt" type="HttpFileHandler" />
      <add verb="*" path="*.xls" type="HttpFileHandler" />
      <add verb="*" path="*.xlsm" type="HttpFileHandler" />
      <add verb="*" path="*.xlsx" type="HttpFileHandler" />
      <add verb="*" path="*.xml" type="HttpFileHandler" />
      <add verb="*" path="*.svg" type="HttpFileHandler" />
      <add verb="*" path="*.woff" type="HttpFileHandler" />
      <add verb="*" path="*.woff2" type="HttpFileHandler" />
      
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <modules>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Saml2AuthenticationModule" type="CSaml2AuthenticationModule" />
    </modules>
      
    <handlers>
      <add name="FileHandler - appcache" path="*.appcache" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - bmp" path="*.bmp" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - css" path="*.css" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - csv" path="*.csv" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - dat" path="*.dat" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - doc" path="*.doc" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - docx" path="*.docx" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - generated" path="*.generated" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - gif" path="*.gif" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - html" path="*.html" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - htm" path="*.htm" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - jpg" path="*.jpg" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - js" path="*.js" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - pdf" path="*.pdf" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - png" path="*.png" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - ppt" path="*.ppt" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - pptx" path="*.pptx" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - tiff" path="*.tiff" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - txt" path="*.txt" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - xls" path="*.xls" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - xlsm" path="*.xlsm" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - xlsx" path="*.xlsx" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - xml" path="*.xml" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - svg" path="*.svg" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - tff" path="*.tff" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - woff" path="*.woff" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileHandler - woff2" path="*.woff2" verb="*" type="HttpFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Default.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".appcache" />
      <remove fileExtension=".css" />
      <remove fileExtension=".csv" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".doc" />
      <remove fileExtension=".docx" />
      <remove fileExtension=".js" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".pdf" />
      <remove fileExtension=".ppt" />
      <remove fileExtension=".pptx" />
      <remove fileExtension=".txt" />
      <remove fileExtension=".xls" />
      <remove fileExtension=".xlsm" />
      <remove fileExtension=".xlsx" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".ico" />
      <remove fileExtension=".svg" />
      
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".csv" mimeType="text/csv" />
      <mimeMap fileExtension=".dat" mimeType="application/x-javascript" />
      <mimeMap fileExtension=".doc" mimeType="application/msword" />
      <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
      <mimeMap fileExtension=".ppt" mimeType="application/vnd.ms-powerpoint" />
      <mimeMap fileExtension=".pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
      <mimeMap fileExtension=".txt" mimeType="text/plain" />
      <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel" />
      <mimeMap fileExtension=".xlsm" mimeType="application/vnd.ms-excel.sheet.macroEnabled.12" />
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="403" />
      <error statusCode="404" path="~/error/default.aspx" responseMode="Redirect" />
      <error statusCode="403" path="~/error/default.aspx" responseMode="Redirect" />
    </httpErrors>
      
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

     <rewrite> 
       <rules> 	   
         <rule name="Force HTTPS" enabled="false" stopProcessing="true"> 
           <match url="(.*)" /> 
           <conditions> 
             <add input="{HTTPS}" pattern="^OFF$" /> 
           </conditions> 
           <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" /> 
         </rule> 
         <rule name="Angular Routes" enabled="false" stopProcessing="true"> 
           <match url=".*" /> 
           <conditions logicalGrouping="MatchAll"> 
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
             <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
             <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" /> 
           </conditions> 
           <action type="Rewrite" url="/app/" /> 
         </rule> 
       </rules> 
     </rewrite> 
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--Note: when modifying this value must also update the "MaxLengthJSON" value found further above within "appSettings" element-->
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <kentor.authServices entityId="http://localhost:4040/AuthServices" returnUrl="http://localhost:4040/auth.aspx" discoveryServiceUrl="http://localhost:4040/DiscoveryService" authenticateRequestSigningBehavior="Always">
    <nameIdPolicy allowCreate="true" format="Persistent" />
    <requestedAuthnContext classRef="Password" comparison="Minimum" />
    <identityProviders>
      
      <!--Test IDP - disable for production-->
      <!--<add entityId="http://stubidp.kentor.se/Metadata" signOnUrl="http://stubidp.kentor.se/" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect" 
           logoutUrl="http://stubidp.kentor.se/Logout">
        <signingCertificate fileName="~/certificates/Kentor.AuthServices.StubIdp.cer"/>
      </add>-->
      
      <!--<add entityId="https://ssodev.dymaxium.com" signOnUrl="https://ssodev.dymaxium.com/idp/SSO.saml2" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect" 
               logoutUrl="https://ssodev.dymaxium.com/idp/SLO.saml2">
        <signingCertificate fileName="~/certificates/site_sso.cer"/>
      </add>-->
    </identityProviders>
  </kentor.authServices>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>